
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Libre+Franklin:wght@400&display=swap');

@import "tailwindcss";



:root {
  --firstBlue: #1881b8; /* 1st light blue */
  --secondBlue: #1675a7; /* 2nd light blue */
  --darkBlue: #002132; /* dark blue blue */
  --firstGreen: #92cc7e; /* 1st light green */
  --secondGreen: #66a89f; /* 2st light green */
  --subHeading: #144486; /* SubHeading Color */
  --smallTextDark: #2b2a29e5; /* white bg xs text color*/
  --smallTextLight: #fcfff9f2; /* dark bg xs text color */
  --font-secondary: 'Libre Franklin', sans-serif;
  --font-primary: 'Poppins', sans-serif;
  --text-color: #f7ffef; /* main text color */
}
body {
  font-family: var(--font-primary);
}
::-webkit-scrollbar {
  display: none;
}
.font-secondary{
  font-family: var(--font-secondary);
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.scroll-left,
.scroll-right {
  display: inline-block;
  white-space: nowrap;
  min-width: 100%;
}

.scroll-left {
  animation: scroll-left 15s linear infinite;
}
.scroll-right {
  animation: scroll-right 15s linear infinite;
}
